[submodule "site-cookbooks/gecode"]
	path = site-cookbooks/gecode
	url = git@github.com:zeddworks/gecode_cookbook.git
[submodule "site-cookbooks/yumrepos"]
	path = site-cookbooks/yumrepos
	url = git@github.com:zeddworks/yumrepos_cookbook.git
[submodule "site-cookbooks/redmine"]
	path = site-cookbooks/redmine
	url = git@github.com:zeddworks/redmine_cookbook.git
[submodule "site-cookbooks/jenkins"]
	path = site-cookbooks/jenkins
	url = git@github.com:zeddworks/jenkins_cookbook.git
[submodule "site-cookbooks/apt_cacher_ng"]
	path = site-cookbooks/apt_cacher_ng
	url = git@github.com:zeddworks/apt_cacher_ng_cookbook.git
[submodule "site-cookbooks/rvm"]
	path = site-cookbooks/rvm
	url = git@github.com:zeddworks/rvm_cookbook.git
[submodule "site-cookbooks/jks"]
	path = site-cookbooks/jks
	url = git@github.com:zeddworks/jks_cookbook.git
[submodule "site-cookbooks/couchdb"]
	path = site-cookbooks/couchdb
	url = git@github.com:zeddworks/couchdb_cookbook.git
[submodule "cookbooks/java"]
	path = cookbooks/java
	url = git://github.com/cookbooks/java.git
[submodule "cookbooks/erlang"]
	path = cookbooks/erlang
	url = git://github.com/cookbooks/erlang.git
[submodule "site-cookbooks/chef-server"]
	path = site-cookbooks/chef-server
	url = git@github.com:zeddworks/chef-server_cookbook.git
[submodule "cookbooks/yum"]
	path = cookbooks/yum
	url = git://github.com/cookbooks/yum.git
[submodule "site-cookbooks/passenger_nginx"]
	path = site-cookbooks/passenger_nginx
	url = git@github.com:zeddworks/passenger_nginx_cookbook.git
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = git://github.com/cookbooks/apt.git
[submodule "site-cookbooks/postgresql"]
	path = site-cookbooks/postgresql
	url = git@github.com:zeddworks/postgresql_cookbook.git
[submodule "site-cookbooks/kanban"]
	path = site-cookbooks/kanban
	url = git@github.com:zeddworks/kanban_cookbook
[submodule "site-cookbooks/refinery"]
	path = site-cookbooks/refinery
	url = git@github.com:zeddworks/refinery_cookbook.git
[submodule "site-cookbooks/chiliproject"]
	path = site-cookbooks/chiliproject
	url = git@github.com:zeddworks/chiliproject_cookbook.git
[submodule "site-cookbooks/memcached"]
	path = site-cookbooks/memcached
	url = git@github.com:zeddworks/memcached_cookbook.git
[submodule "site-cookbooks/gitorious"]
	path = site-cookbooks/gitorious
	url = git@github.com:zeddworks/gitorious_cookbook
[submodule "site-cookbooks/activemq"]
	path = site-cookbooks/activemq
	url = git://github.com/cookbooks/activemq.git
[submodule "site-cookbooks/mysql"]
	path = site-cookbooks/mysql
	url = git@github.com:zeddworks/mysql_cookbook.git
