[submodule "site-cookbooks/gecode"]
	path = site-cookbooks/gecode
	url = git@github.com:zeddworks/gecode_cookbook.git
[submodule "site-cookbooks/yumrepos"]
	path = site-cookbooks/yumrepos
	url = git@github.com:zeddworks/yumrepos_cookbook.git
[submodule "site-cookbooks/kanban"]
	path = site-cookbooks/kanban
	url = git@github.com:zeddworks/kanban_cookbook.git
